@font-face {
  font-family: Virtue;
  src: url(virtue.ttf);
  font-display: swap;
}

body {
  font-size: 16px;
  font-family: Virtue, sans-serif;
  margin: 0;
  color: #3f3f3f;
  overflow-x: hidden;
}

#sapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f2f1;
}

button {
  box-sizing: border-box;
  background-color: inherit;
  min-height: 50px;
  padding: 10px;
  font-size: 1rem;
  font-family: Virtue, sans-serif;
  border: 1px solid #3f3f3f;
  color: #3f3f3f;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background-color: #3f3f3f;
  color: white;
}

input {
  box-sizing: border-box;
  background-color: inherit;
  padding: 10px;
  font-size: 1rem;
  font-family: Virtue, sans-serif;
  border: 1px solid #3f3f3f;
  border-radius: 0;
}

select {
  font-family: Virtue, sans-serif;
  border-radius: 0;
}

h1 {
  margin: 5px 0;
}

.primary {
  border: 4px double;
  font-weight: bold;
}

p {
  max-width: 600px;
}
